---
import Layout from '../layouts/Layout.astro';
import VideoHero from '../components/VideoHero.astro';
import HeroSection from '../components/home/HeroSection.astro';
import Gallery from '../components/Gallery/Gallery.astro';
import AboutSection from '../components/About/AboutSection.astro';
import ServicesSection from '../components/Services/ServicesSection.astro';
---

<Layout title="Teja Yantrapalli - Wildlife Photography">
  <main>
    <VideoHero />
    <HeroSection />
    <Gallery />
    <AboutSection />
    <ServicesSection />
  </main>
</Layout>